!<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <meta charset="utf-8">
    <title>Write an argument</title>
  </head>
  <body>
    <div class="container">
      <h1>Write an Argument</h1>
      <%= user.local.email %>
      <%= user.local.password %>
      <%= user.local.date_of_birth %>
      <%= user.local.name %>

      <form class="" action="/argument" method="post">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" name="title" value="">
        </div>
        <div class="form-group">
          <label>Argumentation</label>
          <input type="text" class="form-control" name="argument" value="">
        </div>
        <button type="submit" class="btn btn-warning btn-lg" name="">Save Argument</button>
      </form>
    </div>
  </body>
</html>
